<a-obj-model src="#studentTable_obj" mtl="#studentTable_mat" rotation="0 90 0">
    <a-obj-model src="#chair_obj" mtl="#chair_mat" position="0.8 0 0.15"></a-obj-model>
    <a-obj-model src="#chair_obj" mtl="#chair_mat" position="0.8 0 0.8"></a-obj-model>
</a-obj-model>
